@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.card {
    margin: 10px;
    background-color: #9E9885;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: medium;
    /* display: flex; */
}

.card-img-top {
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 5px;

}

.card-body h5 {
    text-align: center;
    font-weight: bolder;
}

.card-body p {
    text-align: center;
}

#matchDetails {
    margin: auto;
    align-self: center;
    width: auto;
}

.navbar {
    background-color: #7C7F65;
}

.card-title {
    justify-content: center;
}

.btn-primary {
    background-color: #7C7F65;
    border-style: solid;
    border-color: black;
    margin: auto;
    align-self: center;
}

.navbar {
    border: solid;
    border-color: black;
    border-width: 1px;
}
/* .btn {
    align-self: center;
    position: relative;
} */